{% extends 'tersonInvestApp/basetwo.html' %}
{% load static %}
{% block body %}<!-- #masthead -->

			 
<h1 id="" class="entry-title cryptoz-banner-breadcrumb" style="background: url('');">

    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-10">
            
                <h2 class="page-title">Investment Plans</h2>

                              
                                  <div class="cryptoz-breadcrumb">
                        <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"><ul class="trail-items"><li class="trail-item trail-begin"><a href="../index.html" rel="home"><span>Home</span></a></li><li class="trail-item trail-end"><span>Investment Plans</span></li></ul></nav>                    </div>
                            </div>
        </div>
    </div>
</h1>	
	<div id="page" class="site">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">

			
						<div data-elementor-type="wp-page" data-elementor-id="3039" class="elementor elementor-3039">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-c81ae09 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c81ae09" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e9efb55" data-id="e9efb55" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6c808f4 bdt-price-table-divider--yes elementor-widget elementor-widget-bdt-price-table" data-id="6c808f4" data-element_type="widget" data-widget_type="bdt-price-table.default">
				<div class="elementor-widget-container">
					<div class="bdt-price-table bdt-price-table-skin-default">
						<div class="bdt-price-table-header">
									<h3 class="bdt-price-table-heading">
						BASIC PLAN					</h3>
				
							</div>
				<div class="bdt-price-table-price">
			
							<span class="bdt-price-table-currency">
					&#036;				</span>
			
							<span class="bdt-price-table-integer-part">
					1000				</span>
			
			
			
							<span class="bdt-price-table-period elementor-typo-excluded bdt-price-table-period-position-below">-$20,000</span>					</div>
					<ul class="bdt-price-table-features-list ">
									<li class="elementor-repeater-item-d1fe574">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									10% Weekly Return								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-5c91964">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									For 3 Months								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-0f06ef0">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									24/7 Support								</div>
													</div>
					</li>
							</ul>
					<div class="bdt-price-table-footer">
				

								<div class="bdt-price-table-btn-wrap">
					<a class="bdt-price-table-button elementor-button elementor-size-md" href="{% url 'signin' %}">
						Invest Now					</a>
				</div>
			
							</div>
				</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-dceb957" data-id="dceb957" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-aeb5d58 bdt-price-table-divider--yes elementor-widget elementor-widget-bdt-price-table" data-id="aeb5d58" data-element_type="widget" data-widget_type="bdt-price-table.default">
				<div class="elementor-widget-container">
					<div class="bdt-price-table bdt-price-table-skin-default">
						<div class="bdt-price-table-header">
									<h3 class="bdt-price-table-heading">
						ESSENTIAL PLAN					</h3>
				
							</div>
				<div class="bdt-price-table-price">
			
							<span class="bdt-price-table-currency">
					&#036;				</span>
			
							<span class="bdt-price-table-integer-part">
					20000				</span>
			
			
			
							<span class="bdt-price-table-period elementor-typo-excluded bdt-price-table-period-position-below">-$100,000</span>					</div>
					<ul class="bdt-price-table-features-list ">
									<li class="elementor-repeater-item-d1fe574">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									8.5% Weekly Return								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-5c91964">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									For 6 Months								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-0f06ef0">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									24/7 Support								</div>
													</div>
					</li>
							</ul>
					<div class="bdt-price-table-footer">
				

								<div class="bdt-price-table-btn-wrap">
					<a class="bdt-price-table-button elementor-button elementor-size-md" href="{% url 'signin' %}">
						Invest Now					</a>
				</div>
			
							</div>
				</div>
		
			<div class="bdt-price-table-ribbon elementor-ribbon-left">
				<div class="bdt-price-table-ribbon-inner">
					Popular				</div>
			</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-37da0a0" data-id="37da0a0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2ba323c bdt-price-table-divider--yes elementor-widget elementor-widget-bdt-price-table" data-id="2ba323c" data-element_type="widget" data-widget_type="bdt-price-table.default">
				<div class="elementor-widget-container">
					<div class="bdt-price-table bdt-price-table-skin-default">
						<div class="bdt-price-table-header">
									<h3 class="bdt-price-table-heading">
						SELECTIVE PLAN					</h3>
				
							</div>
				<div class="bdt-price-table-price">
			
							<span class="bdt-price-table-currency">
					&#036;				</span>
			
							<span class="bdt-price-table-integer-part">
					100000				</span>
			
			
			
							<span class="bdt-price-table-period elementor-typo-excluded bdt-price-table-period-position-below">-$500,000</span>					</div>
					<ul class="bdt-price-table-features-list ">
									<li class="elementor-repeater-item-d1fe574">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									5% Weekly Return								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-5c91964">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									For 6 Months								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-0f06ef0">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									24/7 Support								</div>
													</div>
					</li>
							</ul>
					<div class="bdt-price-table-footer">
				

								<div class="bdt-price-table-btn-wrap">
					<a class="bdt-price-table-button elementor-button elementor-size-md" href="{% url 'signin' %}">
						Invest Now					</a>
				</div>
			
							</div>
				</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-e3bd636 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e3bd636" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8e2c272" data-id="8e2c272" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ad7d458 bdt-price-table-divider--yes elementor-widget elementor-widget-bdt-price-table" data-id="ad7d458" data-element_type="widget" data-widget_type="bdt-price-table.default">
				<div class="elementor-widget-container">
					<div class="bdt-price-table bdt-price-table-skin-default">
						<div class="bdt-price-table-header">
									<h3 class="bdt-price-table-heading">
						CREST PLAN					</h3>
				
							</div>
				<div class="bdt-price-table-price">
			
							<span class="bdt-price-table-currency">
					&#036;				</span>
			
							<span class="bdt-price-table-integer-part">
					100000				</span>
			
			
			
							<span class="bdt-price-table-period elementor-typo-excluded bdt-price-table-period-position-below">-$1,000,000</span>					</div>
					<ul class="bdt-price-table-features-list ">
									<li class="elementor-repeater-item-d1fe574">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									4.6% Weekly Return								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-5c91964">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									For 12 Months								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-0f06ef0">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									24/7 Support								</div>
													</div>
					</li>
							</ul>
					<div class="bdt-price-table-footer">
				

								<div class="bdt-price-table-btn-wrap">
					<a class="bdt-price-table-button elementor-button elementor-size-md" href="{% url 'signin' %}">
						Invest Now					</a>
				</div>
			
							</div>
				</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3246482" data-id="3246482" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4eb18ba bdt-price-table-divider--yes elementor-widget elementor-widget-bdt-price-table" data-id="4eb18ba" data-element_type="widget" data-widget_type="bdt-price-table.default">
				<div class="elementor-widget-container">
					<div class="bdt-price-table bdt-price-table-skin-default">
						<div class="bdt-price-table-header">
									<h3 class="bdt-price-table-heading">
						CRYPTO FUND					</h3>
				
							</div>
				<div class="bdt-price-table-price">
			
							<span class="bdt-price-table-currency">
					&#036;				</span>
			
							<span class="bdt-price-table-integer-part">
					25000				</span>
			
			
			
							<span class="bdt-price-table-period elementor-typo-excluded bdt-price-table-period-position-below">-$500,000</span>					</div>
					<ul class="bdt-price-table-features-list ">
									<li class="elementor-repeater-item-d1fe574">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									360% Weekly Return								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-5c91964">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									For 12 Months								</div>
													</div>
					</li>
									<li class="elementor-repeater-item-0f06ef0">
						<div class="bdt-price-table-feature-inner">
							
								<i aria-hidden="true" class="fa-fw fas fa-check"></i>
																						<div class="bdt-price-table-feature-text bdt-display-inline-block">
									24/7 Support								</div>
													</div>
					</li>
							</ul>
					<div class="bdt-price-table-footer">
				

								<div class="bdt-price-table-btn-wrap">
					<a class="bdt-price-table-button elementor-button elementor-size-md" href="{% url 'signin' %}/">
						Invest Now					</a>
				</div>
			
							</div>
				</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5287445" data-id="5287445" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
							</div>
		
			
			</main><!-- #main -->
		</div><!-- #primary -->
			
	</div><!-- #page -->


{% endblock %}