{% extends 'tersonInvestApp/basetwo.html' %}
{% load static %}
{% block body %}


			 
<h1 id="" class="entry-title cryptoz-banner-breadcrumb" style="background: url('');">

    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-10">
            
                <h2 class="page-title">Stocks and ETFs</h2>

                              
                                  <div class="cryptoz-breadcrumb">
                        <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"><ul class="trail-items"><li class="trail-item trail-begin"><a href="{% url 'home' %}" rel="home"><span>Home</span></a></li><li class="trail-item trail-end"><span>Forex</span></li></ul></nav>                    </div>
                            </div>
        </div>
    </div>
</h1>	
	<div id="page" class="site">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">

			
						<div data-elementor-type="wp-page" data-elementor-id="3228" class="elementor elementor-3228">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-9ca3b39 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9ca3b39" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-89d6364" data-id="89d6364" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8e88ec2 elementor-widget elementor-widget-bdt-animated-heading" data-id="8e88ec2" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-8e88ec2" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10;"><div class="bdt-pre-heading">Forex</div> <div id="bdt-ah-8e88ec2" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-21474f3" data-id="21474f3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2326dbb elementor-widget elementor-widget-text-editor" data-id="2326dbb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.5 - 27-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>Stocks & ETFs Investment</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-8a41190 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8a41190" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9174921" data-id="9174921" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e26b776 elementor-widget elementor-widget-bdt-animated-heading" data-id="e26b776" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-e26b776" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10; "><div class="bdt-pre-heading">Invest In The Stock Market The Right Way</div> <div id="bdt-ah-e26b776" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f745fee" data-id="f745fee" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4b123dc elementor-widget elementor-widget-text-editor" data-id="4b123dc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<div dir="auto">An exchange-traded fund is a type of investment fund and exchange-traded product that is traded on stock exchanges.

ETFs are similar in many ways to mutual funds, except that ETFs are bought and sold throughout the day on stock exchanges. ETFs are created by large money managers which bundle the underlying instruments of the fund together. After a series of regulatory steps, an ETF can be offered for sale to the public and can be purchased through Nomura.
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-69fe6ab elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="69fe6ab" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8ca4621" data-id="8ca4621" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4b7b866 elementor-widget elementor-widget-bdt-animated-heading" data-id="4b7b866" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-4b7b866" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10; "><div class="bdt-pre-heading">Its all about your Future</div> <div id="bdt-ah-4b7b866" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b2f177a" data-id="b2f177a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-656c1c2 elementor-widget elementor-widget-text-editor" data-id="656c1c2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<div dir="auto">We focus on comprehensive financial advice and investment services</div>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f609b2d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f609b2d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-83ebd4a" data-id="83ebd4a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-202c289 elementor-widget elementor-widget-bdt-animated-heading" data-id="202c289" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-202c289" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10; "><div class="bdt-pre-heading">Vision</div> <div id="bdt-ah-202c289" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7f8f37b" data-id="7f8f37b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9a2932c elementor-widget elementor-widget-text-editor" data-id="9a2932c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>In a fast-moving and increasingly complex global economy, our success depends on how faithfully we adhere to our core principles: delivering exceptional client service and acting with integrity.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-91aa40d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="91aa40d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8c9d0a2" data-id="8c9d0a2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-109f341 elementor-widget elementor-widget-bdt-animated-heading" data-id="109f341" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-109f341" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10; "><div class="bdt-pre-heading">Mission</div> <div id="bdt-ah-109f341" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0df0f32" data-id="0df0f32" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-cbe787a elementor-widget elementor-widget-text-editor" data-id="cbe787a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<div dir="auto">Our mission is to generate world-class investment returns over the long term. We aspire to do so in a way that makes our partners and portfolio companies proud, as we build a unique, global company.						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ae29dcd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae29dcd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3811433" data-id="3811433" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-40b7b7a elementor-widget elementor-widget-bdt-animated-heading" data-id="40b7b7a" data-element_type="widget" data-widget_type="bdt-animated-heading.default">
				<div class="elementor-widget-container">
			<div id ="bdtah-40b7b7a" class="bdt-heading"><h2 class="bdt-heading-tag" style="opacity: 10; "><div class="bdt-pre-heading">Guarantee</div> <div id="bdt-ah-40b7b7a" class="bdt-animated-heading" data-settings="{&quot;layout&quot;:&quot;animated&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;speed&quot;:2500}"></div> </h2></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-21b6a2b" data-id="21b6a2b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e5be9d0 elementor-widget elementor-widget-text-editor" data-id="e5be9d0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<div dir="auto"><div dir="auto">We are here because we are passionate about open, transparent markets and aim to be a major driving force in widespread adoption, we are the first and the best in investment management.</div></div>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
			
			</main><!-- #main -->
		</div><!-- #primary -->
			
	</div><!-- #page -->


{% endblock %}